@model Inmobiliaria.Models.Inmueble

<h2>¿Seguro que desea eliminar este inmueble?</h2>

<p>@Model.Direccion (@Model.Tipo - @Model.Uso)</p>

Delete
    <input type="hidden" asp-for="Id_Inmueble" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    IndexCancelar</a>
</form>
