
@model Inmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Editar Inmueble";
}

<!-- Estilo para capitalizar la primera letra de las etiquetas -->
<style>
    label.form-label {
        text-transform: capitalize;
    }
</style>

<h2 class="mb-4">Editar Inmueble</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="idInmueble" />

    <div class="mb-3">
        <label asp-for="direccion" class="form-label"></label>
        <input asp-for="direccion" class="form-control" />
        <span asp-validation-for="direccion" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="tipo" class="form-label"></label>
        <input asp-for="tipo" class="form-control" />
        <span asp-validation-for="tipo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ambientes" class="form-label"></label>
        <input asp-for="ambientes" type="number" class="form-control" />
        <span asp-validation-for="ambientes" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="superficie" class="form-label"></label>
        <input asp-for="superficie" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="superficie" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="nombrePropietario" class="form-label"></label>
        <input type="text" asp-for="nombrePropietario" class="form-control" value="nonmbrePropietario"/>nombrePropietario
        @* <select asp-for="nombrePropietario" asp-items="ViewBag.Inmuebles" class="form-select"></select> *@
        <span asp-validation-for="nombrePropietario" class="text-danger"></span>
       
    </div>

    <button type="submit" class="btn btn-primary">Guardar cambios</button>
</form>
