@model Inmobiliaria.Models.Inmueble

<h2>Editar Inmueble</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="idInmueble" />

    <label>Dirección:</label>
    <input asp-for="direccion" /><br />

    <!-- <label>Uso:</label>
    <input asp-for="Uso" /><br /> -->

    <label>Tipo:</label>
    <input asp-for="tipo" /><br />

    <label>Ambientes:</label>
    <input asp-for="ambientes" type="number" /><br />

    <label>Superficie (m²):</label>
    <input asp-for="superficie" type="number" step="0.01" /><br />

    <!--<label>Precio:</label>
    <input asp-for="Precio" type="number" step="0.01" /><br /> -->

    <label>Propietario:</label>
    <select asp-for="idPropietario" asp-items="ViewBag.Propietarios"></select><br />

    <button type="submit">Guardar cambios</button>
</form>
