@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bienvenido a Inmobiliaria</h1>

    @* <a asp-controller="Propietarios" asp-action="Index" class="btn btn-primary">
        Propietarios
    </a>
     <a asp-controller="Inquilinos" asp-action="Index" class="btn btn-primary">
        Inquilinos
     </a>
      <a asp-controller="Inmuebles" asp-action="Index" class="btn btn-primary">
        Inmuebles
     </a>
        <a asp-controller="Usuarios" asp-action="Index" class="btn btn-primary">Usuarios</a>
        
     </a>
         *@
    
</div>
