@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Bienvenido a Inmobiliaria</h1>
    <a asp-controller="Usuarios" asp-action="Login" class="btn btn-primary">Iniciar Sesión</a>

   
    
</div>
