@model Inmobiliaria.Models.Propietario

<h2>Nuevo Propietario</h2>

<form asp-action="Create" method="post">
    <label>DNI:</label>
    <input asp-for="Dni_Propietario" /><br />

    <label>Apellido:</label>
    <input asp-for="Apellido" /><br />

    <label>Nombre:</label>
    <input asp-for="Nombre" /><br />

    <label>Teléfono:</label>
    <input asp-for="Telefono" /><br />

    <label>Email:</label>
    <input asp-for="Email" /><br />

    <label>Domicilio:</label>
    <input asp-for="Domicilio_Personal" /><br />

    <button type="submit">Guardar</button>
</form>