@model Inmobiliaria.Models.Propietario

<h2>Nuevo Propietario</h2>

<form asp-action="Create" method="post">
    <label>DNI:</label>
    <input asp-for="dniPropietario" /><br />

    <label>Apellido:</label>
    <input asp-for="apellido" /><br />

    <label>Nombre:</label>
    <input asp-for="nombre" /><br />

    <label>Teléfono:</label>
    <input asp-for="telefono" /><br />

    <label>Email:</label>
    <input asp-for="email" /><br />

    <label>Domicilio:</label>
    <input asp-for="domicilioPersonal" /><br />

    <button type="submit">Guardar</button>
</form>