@model Inmobiliaria.Models.Propietario

<h2>¿Seguro que desea eliminar este propietario?</h2>

<p>@Model.Apellido, @Model.Nombre (@Model.Dni_Propietario)</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id_Propietario" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>