@model Inmobiliaria.Models.Propietario

<h2>Editar Propietario</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="idPropietario" />

    <label>DNI:</label>
    <input asp-for="dniPropietario" /><br />

    <label>Apellido:</label>
    <input asp-for="apellido" /><br />

    <label>Nombre:</label>
    <input asp-for="nombre" /><br />

    <label>Teléfono:</label>
    <input asp-for="telefono" /><br />

    <label>Email:</label>
    <input asp-for="email" /><br />

    <label>Domicilio:</label>
    <input asp-for="domicilioPersonal" /><br />

    <button type="submit">Guardar cambios</button>
</form>